body{
  padding:0;
  margin:0;
}
.header_first{
  background:#fdfdfd;
  border-bottom:1px solid #f1f1f1;
  height:34px;
}
.first_content{
  width:1170px;
  line-height:34px;
  margin:366.5px;
  font-size:12px;
  color:#666666;
}
.first_content>div:first-child{
  float:left;
}
.first_content>div:last-child{
  float:right;
}
.myInput{
  position:relative
}
.myInput input{
  width:312px;
  height:38px;
}
.myInput>button{
  background:#0d74b7;
  border:none;
  width:48px;
  height:44px;
  position:absolute;
  left:312px;
  top:0;
}